body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background: url("../images/what-the-hex.png");
    line-height: 150%;
}

header {
    background: #ffffff;
    border: 1px solid;
    border-color: #cccccc;
}

.header-content-wrapper {
    width: 960px;
    /* background: purple; */
    margin: 0 auto;
}

.header-content-wrapper:after {
    clear: both;
    overflow: auto;
    display: block;
    content: "";
}

.name-box {
    padding: 20px;
    background: #4aaaa5;
    width: fit-content;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    background: #ffffff;
    border: 1px solid;
    border-color: #dddddd;
    width: 960px;
    margin: 20px auto;
}

.line-feature {
    background: #dddddd;
    padding: 1px;
    margin: 20px 20px;
}

footer {
    background: #666666;
    height: 60px;
}

.green-bar {
    background: #4aaaa5;
    height: 5px;
}

h1,h2,h3 {
    font-family: "Georgia", Times, Times New Roman, serif;
}

.info-box {
    float: right;
    padding: 20px 0px;
}

.info-box h3 {
    float: left;
    font-size: 15px;
}

.content-header {
    font-size: 20px;
    font-weight: bold;
    color: #4aaaa5;
    padding: 20px;
}

.about-me-content p {
    margin: 20px;
}

#me-picture {
    float: left;
    margin: 0px 20px;
}

.first-paragraph:after {
    clear: both;
    overflow: auto;
    display: block;
    content: "";
}

.content-inside {
    min-height: calc(100vh - 160px);
}

.window-block {
    padding: 10px;
    background: #4aaaa5;
    /* position: absolute; */
    /* top: 60px; */
    width: 300px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.window-row:after {
    clear: both;
    overflow: auto;
    display: block;
    content: "";
}

.window {
    width: 275px;
    position: relative;
    /* display: inline-block; */
    /* float: left; */
    /* margin: 20px; */
}

.gallery {
    float: left;
    margin: 30px;
}

.content {
    padding: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
    position: relative;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

  .text-block {
      position: absolute;
      bottom: 35px;
      padding: 20px 0px;
      background: #4aaaa5;
      width: 306.63px;
      text-align: center;
      color: #ffffff;
  }

  input {
      width: 100%;
      height: 1.5em;
      margin: 5px 0px;
  }

  form {
    padding: 20px;
  }

  button {
    padding: 10px 30px;
    margin-left: 20px;
    background: #4aaaa5;
    color: #ffffff;;
  }